* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "New Order", sans-serif;
  font-style: normal;
  font-weight: 400;
  transition: all 300ms linear;
}
li {
  list-style: none;
}
