<!-- <section>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section> -->
<section class="hero swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide hero_slide_first">
      <div class="container"></div>
    </div>
    <div class="swiper-slide hero_slide_second">
      <div class="container"></div>
    </div>
  </div>
</section>
